body{
}
#nav-logo{
    background-image: url("../image/nVision_Black.png");
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border:white none 0px;
    background-color: black;

}
#navmain{
    border:0px;
    background-color: black;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

.jumbotron{
    background-color: white;
}

footer{
    color: white;
    background-color: black;
}