*
{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #cccccc;
}
ul{
    list-style: none;
}
.menu li{
    list-style: none;
    text-align: center;
}
.menu li:hover{
    background-color: #cc9999;
}

ul li{
    display: inline-block;
    text-align: center;
    width: 150px;
    padding: 3px 0 0 10px;
    border-bottom: 3px solid black;
    
}

li a{
    text-decoration: none;
}