
body{
    background-color: #fbfbf6;
}

/*Navbar*/
.navbar.navbar-toggleable-md.navbar-light {
    background-color: #3d7437;  
}

.navbar.navbar-toggleable-md.navbar-light li a{
    color: white;
}


#navbar a:hover{      
    color: #cca60f;
}

.nav-link{
    color: white;
}



/* Footer */
.footer {
  padding: 60px 0 20px;
  background-color: #3d7437;
  text-align: center;
  color: white;
}

.footer a{
    color:white;
}
.footer h4{
    font-weight: 300;
    letter-spacing: 0.05em;
    margin: 0 0 40px;
    font-size: 24px;
}

.footer .social-links li{
    display: inline-block;
    margin: 0 25px 25px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.footer .social-links{
    list-style:none;
    padding: 0;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}


.testbox{
    border:solid 2px #cca60f;
    width:120px;
}